src/w_dun.c
src/w_mnster.c
src/w_obj.c
src/w_player.c
src/w_play_c.c
src/w_quest.c
src/w_spells.c
src/w_util.c
src/w_z_pack.c
*.o
*.txt1
*.raw
lib/apex/scores.raw
*.prf1
*.prf3
lib/apex/scores.raw
lib/edit/r_info - Kopie.txt
lib/note/Amy.nte
lib/note/testchar.nte
lib/save/global.svg
lib/user/artifacts.txt
lib/note/lostsoul.nte
lib/note/oeimie.nte
*.rtf
command.txt
lib/apex/scores.raw
lib/note/blabla.nte
lib/save/Amyd
lib/xtra/t_0d.WQf
lib/user/trapvault
lib/user/nazgul12.htm
lib/user/FEHLER
lib/user/EYNEE
lib/user/EY NEE
lib/user/e
lib/user/deathwatch
lib/user/bloedel.htm
lib/user/666
lib/user/bloedel
lib/save/lalala
lib/save/edd
lib/save/dd
lib/save/blabla
lib/note/lalala.nte
lib/note/la.nte
lib/note/ddd.nte
lib/note/dd.nte
lib/save/Amy
lib/apex/scores.raw
lib/user/speeddrain.htm
lib/apex/scores.raw
lib/user/Amy.prf
src/tolua.exe
src/tome.exe
tome.exe
tomeSX.7z
tomeSX - Kopie.7z
ToME-SX.7z
ToME-SX.7zold
src/lua/ochnoe/array.txt
src/lua/ochnoe/basic.txt
src/lua/ochnoe/class.txt
src/lua/ochnoe/clean.txt
src/lua/ochnoe/code.txt
src/lua/ochnoe/container.txt
src/lua/ochnoe/declaration.txt
src/lua/ochnoe/define.txt
src/lua/ochnoe/doit.txt
src/lua/ochnoe/dungeon.txt
src/lua/ochnoe/enumerate.txt
src/lua/ochnoe/feature.txt
src/lua/ochnoe/function.txt
src/lua/ochnoe/lua2c.txt
src/lua/ochnoe/module.txt
src/lua/ochnoe/monster.txt
src/lua/ochnoe/object.txt
src/lua/ochnoe/operator.txt
src/lua/ochnoe/package.txt
src/lua/ochnoe/player.txt
src/lua/ochnoe/player_c.txt
src/lua/ochnoe/quest.txt
src/lua/ochnoe/spells.txt
src/lua/ochnoe/typedef.txt
src/lua/ochnoe/util.txt
src/lua/ochnoe/variable.txt
src/lua/ochnoe/verbatim.txt
src/lua/ochnoe/z_pack.txt
