src/w_dun.c
src/w_mnster.c
src/w_obj.c
src/w_player.c
src/w_play_c.c
src/w_quest.c
src/w_spells.c
src/w_util.c
src/w_z_pack.c
*.o
*.txt1
*.raw
lib/apex/scores.raw
*.prf1
*.prf3
lib/apex/scores.raw
lib/edit/r_info - Kopie.txt
lib/note/Amy.nte
lib/note/testchar.nte
lib/save/global.svg
lib/user/artifacts.txt
lib/note/lostsoul.nte
lib/note/oeimie.nte
*.rtf
command.txt
lib/apex/scores.raw
lib/note/blabla.nte
lib/save/Amyd
lib/xtra/t_0d.WQf
lib/user/trapvault
lib/user/nazgul12.htm
lib/user/FEHLER
lib/user/EYNEE
lib/user/EY NEE
lib/user/e
lib/user/deathwatch
lib/user/bloedel.htm
lib/user/666
lib/user/bloedel
lib/save/lalala
lib/save/edd
lib/save/dd
lib/save/blabla
lib/note/lalala.nte
lib/note/la.nte
lib/note/ddd.nte
lib/note/dd.nte
lib/save/Amy